.cart-styles {
  position: relative;

  justify-content: center;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 280px;
  height: 260px;
  border-radius: 0 30px 0 30px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.cart-styles__tech-skills--color {
  background-color: #f6ead0;
}

.cart-styles__soft-skills--color {
  background-color: #fbdcd2;
}

.cart-styles__it-english--color {
  background-color: #e2d8f5;
}

.cart-styles__hackathon--color {
  background-color: #c8eae8;
}

.cart-styles__text--border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 0 auto;
  width: 240px;
  height: 225px;
  border: 2px dashed #ffffff;
  border-radius: 0 30px 0 30px;
}

.cart-styles:hover,
.cart-styles:focus {
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.1);
}
