.clear {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.directions {
  padding-top: 70px;
}

@media (min-width: 350px) and (max-width: 767px) {
  .directions__blocks {
    display: flex;
    flex-direction: column;
  }

  .directions__list {
    width: 280px;
    justify-content: flex-start;
  }

  .directions__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.container {
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.directions__list {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.directions__title {
  font-size: 20px;
  color: $color-title;
  font-family: $font-title;
  font-weight: 700;
  margin-left: 10px;
}

.directions__blocks-item {
  border-radius: 5px;
  background-color: $color-bcdirections;
  padding-top: 27px;
  padding-bottom: 56px;
  margin-bottom: 12px;
  width: 280px;
}

.directions__blocks-item:hover {
  background-color: $color-orange;
  filter: drop-shadow(1.5px 2.598px 4px rgba(1, 1, 1, 0.1));
}

.directions__blocks-item:hover .directions__blocks-description {
  color: $color-background;
}

.directions__blocks-item:hover .directions__blocks-age {
  color: $color-background;
}

.directions__blocks-item:hover .directions__blocks-age::before {
  color: $color-background;
}

.directions__blocks-item:hover .directions__blocks-age::after {
  background-image: url(../images/icons/Arrow1.png);
}

.directions__blocks-item:last-child {
  margin-bottom: 0;
}

.directions__blocks-title {
  font-size: 25px;
  color: $color-title;
  font-family: $font-text;
  font-weight: 700;
  margin-bottom: 30px;
}

.directions__blocks-description {
  width: 221px;
  height: 44px;
  font-size: 16px;
  color: $color-fordescription;
  font-family: $font-text;
  font-weight: 400;
  margin-bottom: 40px;
}

.directions__blocks-age {
  font-size: 30px;
  color: $color-orange;
  font-family: $font-title;
  font-weight: 700;
}

.directions__blocks-age::before {
  content: 'років';
  position: absolute;
  font-size: 13px;
  color: $color-orange;
  font-family: $font-text;
  font-weight: 400;
  text-decoration: underline;
  top: 138px;
  left: 123px;
  transform: translate(-20%, -50%);
}

.directions__blocks-age::after {
  content: '';
  background-image: url(../images/icons/Arrow.png);
  width: 19px;
  height: 13px;
  position: absolute;
  top: 194px;
  left: 45px;
}

.directions__link {
  display: inline-block;
  padding-left: 45px;
  position: relative;
}

.directions__icon {
  width: 18px;
  height: 18px;
  fill: $color-icon;
  padding: 6px;
  background-color: $color-orange;
  border-radius: 100%;
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1099px) {
  .container {
    max-width: 660px;
  }

  .directions__blocks {
    display: flex;
    flex-wrap: wrap;
  }

  .directions__blocks-item {
    margin-bottom: 0;
    position: relative;
    width: 310px;
    flex-basis: 50%;
  }

  .directions__blocks-item:nth-child(odd):before {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 250px;
    left: 260px;
    top: 5px;
    border-right: 1px dashed $color-border;
  }

  .directions__blocks-item:nth-child(n + 3):after {
    content: '';
    display: block;
    position: absolute;
    width: 300px;
    height: 10px;
    left: 5px;
    top: 0px;
    border-top: 1px dashed $color-border;
  }

  .directions__blocks-item:hover .directions__blocks-age::after {
    background-image: url(../images/icons/arrow-hover.png);
    width: 39px;
    height: 13px;
  }
}

/* PC */

@media screen and (min-width: 1100px) {
  .directions__blocks {
    display: flex;
    flex-wrap: nowrap;
  }

  .container {
    max-width: 1300px;
  }

  .directions__blocks-item {
    border-radius: 0;
    margin-bottom: 0;
    width: 326px;
  }

  .directions__blocks-item:hover {
    border-radius: 5px;
  }

  .directions__blocks-item:hover .directions__blocks-age::after {
    background-image: url(../images/icons/arrow-hover.png);
    width: 39px;
    height: 13px;
  }

  .directions__blocks-item:nth-child(-n + 3) {
    border-right: 1px dashed $color-border;
  }

  .directions__blocks-item:nth-child(-n + 3):hover {
    border: none;
  }
}
