.tranning__title {
  display: block;
  align-items: center;
  margin: 0;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.tranning__subtitle {
  text-align: left;
  padding-top: 38px;
  padding-left: 25px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 17px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.tranning__about {
  text-align: left;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 22.5px;
  font-size: 14px;
  line-height: 1.25;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #464646;
}
