$color-background: #ffffff;
$color-title: #272727;
$color-orange: #e9ac38;
$color-bcdirections: #fafafa;
$color-fordescription: #444444;
$color-icon: #fff;
$color-border: #ddd;

$font-title: 'Open Sans', sans-serif;
$font-text: 'Ubuntu', sans-serif;
