$color-background: #ffffff;
$color-background-laptop: #fafafa;
$color-title: #272727;
$color-text: #464646;
$color-line: #e4e4e5;
$color-orange: #e9ac38;
$color-red: #de6335;
$color-purple: #8565e2;
$color-green: #63aba0;
$color-powder: #f8e0d7;
$color-sky: #e3dcf8;
$color-mint: #dfeeec;
$color-skin: #fbeed7;
$color-line: #e4e4e5;
$color-orange-second: #fcae26;
$color-strong-grey: #444444;
$color-text: #464646;
$color-lilac: #7550de;
$color-dark-lilac: #824fe3;
$font-title: 'Open Sans', sans-serif;
$font-text: 'Ubuntu', sans-serif;
